

<div align="center">

<h1>All Articles</h1>
<table border="2px">

	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Content</th>
		<th>URL</th>
		<th>Created By</th>
		<th></th>
	</tr>

	<% @articles.each do |article| %>

	<tr>

		<td><%= article.title %></td>
		<td><%= article.author.first_name %></td>
		<td><%= article.body %></td>
		<td><%= article.url %></td>
		<td><%= article.user.email %></td>
		<td>
			<%= link_to 'Show', article_path(article) %>			

			<% if policy(article).edit? %>
				<%= link_to 'Edit', edit_article_path(article) %>
			<% end %>

			<% if policy(article).edit? %>
				<%= link_to 'DELETE', article_path(article), method: :delete, data: { confirm: "Are You sure to Delete \"#{article.title}\""} %> 
			<% end %>
			
		</td>
	</tr>

	<% end %>
</table>

<br>
<%= link_to "Create New Blog Article", new_article_path %>
<br><br>
<%= link_to 'Back to Home', root_path %>

  <%= form_with scope: :articles, url: api_v1_articles_path, local: true do |form| %>


    <%= select_tag "article[]", options_for_select(@cols.collect{|x| [x]}), {:multiple => :multiple, :size => 10} %>

    <%= form.submit :Submit %>

  <% end %>
</div>