

<div align="center">

<h1>All Articles</h1>
<div class="container">
<table  class="table table-hover">

	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Content</th>
		<th>URL</th>
		<th>Created By</th>
		<th></th>
	</tr>

	<% @articles.each do |article| %>

	<tr class="success">

		<td><%= article.title %></td>
		<td><%= article.author.first_name %></td>
		<td><%= article.body %></td>
		<td><%= article.url %></td>
		<td><%= article.user.email %></td>
		<td>
			<%= link_to '<button type="button" class="btn btn-primary">Show</button>'.html_safe, article_path(article) %>		

			<% if policy(article).edit? %>
				<%= link_to '<button type="button" class="btn btn-primary">Edit</button>'.html_safe, edit_article_path(article) %></button>
			<% end %>

			<% if policy(article).edit? %>
				<%= link_to '<button type="button" class="btn btn-primary">Delete</button>'.html_safe, article_path(article), method: :delete, data: { confirm: "Are You sure to Delete \"#{article.title}\""} %> </button>		
			<% end %>
			
		</td>
	</tr>

	<% end %>
</table>

</div> 

<br>

<%= link_to "Create New Blog Article", new_article_path %>
<br><br>
<%= link_to '<button type="button" class="btn btn-primary btn-lg">Back to Home</button>'.html_safe, root_path %>
</div>