<div align="center">

<h1>Article View</h1>


<table border="2px">

	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Content</th>
		<th>URL</th>
		<th></th>
	</tr>

		<td><%= @article.title %></td>
		<td><%= @article.author.first_name %></td>
		<td><%= @article.body %></td>
		<td><%= @article.url %></td>
		<td><%= link_to 'Edit', edit_article_path(params[:id]) %>
			<%= link_to 'DELETE', article_path(@article.id), method: :delete, data: { confirm: "Are You sure to Delete \"#{@article.title}\""} %> 
		</td>

</table>


<br>
<%= link_to 'Show all Articles', articles_path %>
<br><br>
<%= link_to 'Back to Home', root_path %>

</div>