<h2>Movies List </h2>

<table width="100%" border="1" cellspacing="0" cellpadding="10">
  <tr>
    <th>No. </th>
    <th>Title</th>
    <th>Descriptions</th>
    <th>Actions</th>
  </tr>
  <% @movies.each_with_index do |movie, index| %>
  <tr>
    <td><%= index+1 %>.</td>
    <td><%= movie.name %></td>
    <td><%= movie.description %></td>
    <td><%= link_to "Show", movie_path(movie)%> <%= link_to "Edit", edit_movie_path(movie)%> <%= link_to "Destroy", movie_path(movie), method: :delete, data: { confirm: "Are You sure to Delete \"#{movie.name}\""} %></td>
  </tr>
  <% end %>

</table>

<%= link_to "Create New", new_movie_path %>