<div class="container">

  <% if current_user.present? && %w(Admin Management Hiring\ Manager).include?(current_user.user_type) %>
    <div class="container" style="text-align: center">
      <h2>Users List</h2>
    </div>
    <div class="container">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Sr No.</th>
          <th>Email</th>
          <th>User Role</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %>.</td>
            <td><%= user.email %>  </td>
            <td><%= user.user_type %>  </td>
            <td><%= link_to "Show", users_show_path(user) %> </td>
            <td><%= link_to "Edit", edit_user_path(user) %>  </td>
            <td><%= link_to 'DELETE', delete_user_path(user), method: :delete, data: {confirm: "Are You sure to Delete \"#{user.first_name}\""} %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <p>Sign in with Main Account</p>
  <% end %>

  <div class="container" style="text-align: center">
    <%= link_to "Back", :back %>
  </div>
</div>
