<h1>New Magazine</h1>

<%= form_with scope: :magazines, url: magazines_path, local: true do |form| %>

<%= form.label :name %><br></th>
<%= form.text_field :name %>


<%= form.submit :Submit %>
<% end %>

<br>
<%= link_to 'Show all Magazines', magazines_path %>
<br><br>

<%= link_to 'Back to Home', root_path %>

</div>