<h1>EDIT Category</h1>

<%= form_with model: @category, local: true do |form| %>

<%= form.label :name %><br></th>
<%= form.text_field :name %>


<%= form.submit :Submit %>
<% end %>

<br>
<%= link_to 'Show all Articles', articles_path %>
<br><br>
<%= link_to 'Back to Home', root_path %>