<h1>All Products</h1>

<% @products.each_with_index do |product, index| %>

	<%= "Product #{index+1} : " %> <%= link_to "#{product.name}", product_path(product) %><br><br>


<% end %>

<br>
<%= link_to "Create New Product", new_product_path %>
<br><br>
<%= link_to "Back to Categorization", categorization_path %>
<br><br>
<%= link_to 'Back to Home', root_path %>